@page
@model Activ.EQM.WebUI.Pages.calendarModel
@{
    ViewData["Title"] = "Calendrier";
}

	<div class="main-container">
<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Calendrier</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a class=" dropdown-toggle" asp-area="" asp-page="/Index">Accueil</a></li>
									<li class="breadcrumb-item active" aria-current="page">Calendrier</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<div class="pd-20 card-box mb-30">
					<div class="calendar-wrap">
						<div id='calendar'></div>
					</div>
					<!-- calendar modal -->
					<div id="modal-view-event" class="modal modal-top fade calendar-modal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-body">
									<h4 class="h4"><span class="event-icon weight-400 mr-3"></span><span class="event-title"></span></h4>
									<div class="event-body"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<form id="add-event">
									<div class="modal-body">
										<h4 class="text-blue h4 mb-10">Ajouter un evenement</h4>
										<div class="form-group">
											<label>Nom</label>
											<input type="text" class="form-control" name="ename">
										</div>
										<div class="form-group">
											<label>Date</label>
											<input type='text' class="datetimepicker form-control" name="edate">
										</div>
										<div class="form-group">
											<label> Description</label>
											<textarea class="form-control" name="edesc"></textarea>
										</div>
										<div class="form-group">
											<label>Couleur</label>
											<select class="form-control" name="ecolor">
												<option value="fc-bg-default">defaut</option>
												<option value="fc-bg-blue">bleu</option>
												<option value="fc-bg-lightgreen">vert clair</option>
												<option value="fc-bg-pinkred">rose</option>
												<option value="fc-bg-deepskyblue">bleu-ciel</option>
											</select>
										</div>
										<div class="form-group">
											<label>Icone</label>
											<select class="form-control" name="eicon">
												<option value="circle">cercle</option>
												<option value="cog">cog</option>
												<option value="group">group</option>
												<option value="suitcase">Valise</option>
												<option value="calendar">calendrier</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" >Enregistrer</button>
										<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>

</div>
