@page
@model Activ.EQM.WebUI.Pages.detailauditModel
@{
	ViewData["Title"] = "Detail audit page";
}
@section scripts {
    <script type="text/javascript" src="~/js/Script.js"></script>
}


<!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Audit</h4>
        </div>

    </div>
    <form>
        <script>

            /*function date(let date){
                var dateOnly = date.substring(0, 10);
                var dateComponents = dateOnly.split("-");
                var isoDate = dateComponents[0] + "-" + dateComponents[1] + "-" + dateComponents[2];

                return isoDate
            } */

            let ident = sessionStorage.getItem("detail");

            fetch('http://localhost:5000/Audit/' + ident)
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    var a = `${data.title}`;
                    var b = `${data.description}`;
                    var c = `${data.startDateEffective}`;
                    var d = `${data.endDateEffective}`;
                    var e = `${data.startDateExpected}`;
                    var f = `${data.endDateExpected}`;
                    var g = `${data.report}`;
                    var h = `${data.reference}`;
                    var create = `${data.createBy}`;
                    var datec = `${data.created}`;
                    var idprocess = `${data.processId}`;

                    var dateOnly1 = c.substring(0, 10); // extrait la partie de la chaîne correspondant à la date (yyyy-MM-dd)
                    var dateComponents1 = dateOnly1.split("-"); // sépare la date en ses composantes année, mois et jour
                    var isoDate1 = dateComponents1[0] + "-" + dateComponents1[1] + "-" + dateComponents1[2]; // combine les composantes en une chaîne de caractères au format ISO "yyyy-MM-dd"

                    var dateOnly2 = d.substring(0, 10);
                    var dateComponents2 = dateOnly2.split("-");
                    var isoDate2 = dateComponents2[0] + "-" + dateComponents2[1] + "-" + dateComponents2[2];

                    var dateOnly3 = e.substring(0, 10);
                    var dateComponents3 = dateOnly3.split("-");
                    var isoDate3 = dateComponents3[0] + "-" + dateComponents3[1] + "-" + dateComponents3[2];

                    var dateOnly4 = f.substring(0, 10);
                    var dateComponents4 = dateOnly4.split("-");
                    var isoDate4 = dateComponents4[0] + "-" + dateComponents4[1] + "-" + dateComponents4[2];

                    var dateOnly5 = datec.substring(0, 10);
                    var dateComponents5 = dateOnly5.split("-");
                    var isoDate5 = dateComponents5[0] + "-" + dateComponents5[1] + "-" + dateComponents5[2];

                    document.getElementById("titre").value = a;
                    document.getElementById("description").value =b;
                    document.getElementById("startDateEffective").value = isoDate1;
                    document.getElementById("endDateEffective").value = isoDate2;
                    document.getElementById("startDateExpected").value = isoDate3;
                    document.getElementById("endDateExpected").value = isoDate4;
                    document.getElementById("report").value =g;
                    document.getElementById("reference").value =h;
                    document.getElementById("created").value = create;
                    document.getElementById("datec").value = isoDate5;

                    fetch('http://localhost:5000/Process/' + idprocess)
                        .then(res => res.json())
                        .then(data => {
                            console.log(data);

                            var process = `${data.title}`;

                            document.getElementById("processus").value = process;
                        }),
                });

                

        </script>

        <!--<div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Processus</label>
            <div class="col-sm-12 col-md-10">
                <select class="form-control" id="processus" name="titreProcess">
                    <option>Selectionner un processus</option>
                    <option></option>
                </select>
            </div>
        </div>-->
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Processus</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="processus" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Titre</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="titre" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Description</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="description" type="text" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date de debut Effective</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="startDateEffective" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date de Fin Effective</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="endDateEffective" type="text" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date du debut prévu</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="startDateExpected" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date de fin prévu</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" id="endDateExpected" type="text" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Report</label>
            <div class="col-sm-12 col-md-10">
                <input type="text" id="report" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Reference</label>
            <div class="col-sm-12 col-md-10">
                <input type="text" id="reference" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Cree par</label>
            <div class="col-sm-12 col-md-10">
                <input type="text" id="created" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Date de créature</label>
            <div class="col-sm-12 col-md-10">
                <input type="text" id="datec" class="form-control">
            </div>
        </div>

        <div class="text-center">
            <button type="button" onclick="retour('audit1');" class="btn btn-danger btn-sm">Retour</button>
        </div>

    </form>

</div>
                   </div>
                    </div>
<!-- Default Basic Forms End -->