@page
@model Activ.EQM.WebUI.Pages.editpointnatureModel
@{
    ViewData["Title"] = "edit point nature page";
}
@section scripts {
    <!--<script type="text/javascript" src="~/js/Script.js"></script>-->
    <script type="text/javascript">

        var identifiant = sessionStorage.getItem('modif');

        

        function modifier() {

            //var form = document.querySelector('form');
            //var data = new FormData(form);
            var t = document.getElementById("titre").value;
            var d = document.getElementById("description").value;
            var turn = document.getElementById("delai").value;
            var p = document.getElementById("participant").value;
            var m = document.getElementById("manager").value;
            var third = document.getElementById("processus").value;
            var create = document.getElementById("created").value;

            var data = {
                Title: t,
                Description: d,
                TurnaroundTimes: turn,
                Participants: p,
                Manager: m,
                ThirdPartyProcesses: third,
                CreateBy: create
            }

            console.log(data);

            let choix = confirm('Voulez vous vraiment modifier cette action point nature ?');
            if (choix) {
                fetch('http://localhost:5000/Process/' + identifiant, {
                    method: 'PUT',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                alert("Modification reussi !");
                location.replace('https://localhost:7135/processus');
            }
            else {
                alert("Modification annulée !");
                location.replace('https://localhost:7135/processus');
            }

        }

    </script>
}

                     
<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Point nature</h4>
						</div>
						
					</div>
                                        <form id="form" method="post">


                                            <script type="text/javascript">

                                                var identifiant = sessionStorage.getItem("detail");
                                                let titre = '';
                                                let Description = '';
                                                let TurnaroundTimes = 0;
                                                let Participants = '';
                                                let ThirdPartyProcesses = '';
                                                let Manager = '';
                                                let Created = '';

                                                fetch('http://localhost:5000/Process/' + identifiant)
                                                    .then(res => res.json())
                                                    .then(data => {
                                                        console.log(data);
                                                        console.log(data.title);
                                                        titre += `${data.title}`;
                                                        Description += `${data.Description}`;
                                                        TurnaroundTimes += `${data.TurnaroundTimes}`;
                                                        Participants += `${data.Participants}`;
                                                        ThirdPartyProcesses += `${data.ThirdPartyProcesses}`;
                                                        Manager += `${data.Manager}`;
                                                        Created += `${data.Created}`;

                                                        //console.log(titre);

                                                        document.getElementById("titre").value = titre;
                                                        document.getElementById('description').value = Description;
                                                        document.getElementById('delai').value = TurnaroundTimes;
                                                        document.getElementById('participant').value = Participants;
                                                        document.getElementById('processus').value = ThirdPartyProcesses;
                                                        document.getElementById('manager').value = Manager;
                                                        document.getElementById('created').value = Created;

                                                    });

                                                //console.log(titre);
                                            </script>

            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Titre</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" id="titre" type="text" placeholder="titre">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Cree par</label>
                <div class="col-sm-12 col-md-10">
                    <input type="text" id="created" class="form-control">
                </div>
            </div>

            <div class="text-center">
                <button type="button" onclick="modifier();" class="btn btn-primary btn-sm">Modifier</button>
            </div>

</form>
							
						</div>
					</div>
				</div>
				<!-- Default Basic Forms End -->
