@page
@model Activ.EQM.WebUI.Pages.rapportModel
@{
    ViewData["Title"] = "Rapport audit";
}
@section scripts {
	<script type="text/javascript">

		function ajouter() {

		}

	</script>

}

<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="title">
			</div>
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Accueil</li>
					<li class="breadcrumb-item active" aria-current="page">Rapport des audits</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

<!-- Default Basic Forms Start -->
			<!-- <div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Rapport audit</h4>
						</div>
						
					</div>
					<form>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nom</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control"  id="nom" type="text" placeholder="Nom">
							</div>
						</div>
						
					
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Titre</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" id="titre" type="text">
							</div>
						</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Date </label>
			<div class="col-sm-12 col-md-10">
				<input class="form-control date-picker" placeholder="Select Date" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Telecharger</label>
			<div class="col-sm-12 col-md-10">
			<input type="file" id="document"class="form-control-file form-control height-auto">
		</div>
		</div>
						     <div class="text-center">
                                 <a class="btn btn-primary btn-sm  " asp-area="" asp-page="/afficherrapport" role="button">Afficher</a>
                                    <button type="button" onclick="ajouter();" class="btn btn-primary btn-sm">Enregistrer</button>
                                </div>
							
</form>
							
						</div>
					</div>
				</div>-->
				<!-- Default Basic Forms End -->