@page
@model Activ.EQM.WebUI.Pages.suiviauditModel
@{
    ViewData["Title"] = "Suivi audit";
}
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Accueil</li>
                    <li class="breadcrumb-item active" aria-current="page">Suivi des audits</li>
                </ol>
            </nav>
        </div>
        <!--<div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
                <a asp-area="" asp-page="/ajoutsuivi" class="btn btn-primary btn-sm" function=javascript:; role="button">
                    Ajouter
                </a>

            </div>
        </div>-->
    </div>
</div>

<!--<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Liste des activites</h4>
    </div>
    <div class="pb-20">
        <table class="table hover multiple-select-row data-table-export nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Processus</th>
                    <th>Audit preparee</th>
                    <th>Audit realisee</th>
                    <th>Plan d'action</th>
                 
                </tr>
            </thead>
            <tbody id="corps">
                <script type="text/javascript">
                    
                </script>

            </tbody>
        </table>
    </div>
</div>-->

<!-- Export Datatable End -->